table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    padding-top: 1px;
  }
  
  th, td {
    padding: 15px;
  }

  .input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .input[type=submit]:hover {
    background-color: #45a049;
  }
